:root {
  --theme-color: #00ff80;
  --bg-color: #171717;
}

body {
  margin: 10px;
  background-color: var(--bg-color);
  color: var(--theme-color);
  font-family: 'VT323', monospace;
  font-size: 24px;
  line-height: 1.2;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 255, 0, 0.1) 0.1em, transparent 0.1em);
  background-size: 100% 0.2em;
  pointer-events: none;
  z-index: 99998;
}

body::after {
  content: "";
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background:rgba(0, 255, 0, 0.03);
  animation: terminal-flicker 0.15s infinite;
  pointer-events: none;
  z-index: 99999;
}

@keyframes terminal-flicker {
  0%   { opacity: 0.95; }
  5%   { opacity: 0.90; }
  10%  { opacity: 0.85; }
  15%  { opacity: 0.94; }
  20%  { opacity: 0.98; }
  25%  { opacity: 1; }
  100% { opacity: 1; }
}

/* CONTAINER ELEMENTS */

.terminal-container {
  max-width: 900px;
  margin: 0 auto;
}

.header-right {
  text-align: right;
  margin-bottom: 60px;
}

.title-center {
  text-align: center;
  margin-bottom: 50px;
}

p{
  margin-bottom: 40px;
}

/* LISTE TERMINAL */

.terminal-list {
    list-style-type: none; 
    padding-left: 0;       
}

.terminal-list li {
    display: grid; 
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin-bottom: 30px; 
    align-items: start; 
}

.terminal-list span {
    display: block;        
    padding-left: 40px;         
}

/* ETAT HOVER LINK */

.terminal-list a {
    color: #00ff80; 
    text-decoration: none; 
    padding: 2px 8px; 
    margin-left: -8px;
    transition: background-color 0s, color 0s;
}

.terminal-list a:hover {
    background-color: #00ff80; 
    color: #1a1a1a;            
}

.terminal-text a {
   color: #00ff80;  
   transition: background-color 0s, color 0s;
}

.terminal-text a:hover{
  background-color: #00ff80; 
  color: #1a1a1a;
}

.terminal-prompt {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  visibility: hidden; 
  opacity: 0;
}

.prompt-symbol {
  margin-right: 10px;
  color: inherit; 
}

#cmd-input {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: 100%;
  text-transform: lowercase; 
}

#cmd-input::placeholder {
  color: #ff5555;
  opacity: 0.8;
}
